
<div style="padding:20px">
  <%= simple_form_for(@profile) do |p| %>
    <% if @profile.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group" style="margin-right: 20px;">
      <%= p.input :bio, label: "Bio" %>
      <%= p.input :photo, label: "Update profile photo" %>
      <%= p.input :photo_cache, as: :hidden %>
      <%= p.submit "Submit", class: "btn btn-info" %>
    </div>
  <% end %>
</div>

