<div class="container">
  <div class="profile-yellow-container">
    <div class="text-center">
      <%if @profile.user == current_user %>
      <h1 style="font-weight: normal">My profile</h1>
    </div>
    <div class="text-center">
      <%= cl_image_tag @profile&.photo&.url, class: 'avatar-large'  %>
    </div>
      <div class="profile-white-container">
        <h2>My bio</h2>
          <%if @profile.bio.nil? || @profile.bio == ""%>
            <p>Add a bio via 'edit'.</p>
            <%= link_to "Edit", edit_profile_path(@profile),
              class: "profile-edit" %>
          <%elsif%>
            <p><%= @profile.bio%></p>
            <%= link_to "Edit", edit_profile_path(@profile),
              class: "profile-edit" %>
          <%end%>
      </div>
      <div class="review-white-container">
        <h2>Reviews about me</h2>
          <%unless @reviews_about_me == [nil]%>
            <%@reviews_about_me.each do |review|%>
              <%unless review.nil? %>
                <div class="review-container text-center">
                  <div><p><%= review.booking.find_workspace.user.first_name%> says <em>
                    "<%= review.content%>"</em>
                  </p></div>
                  <div class="review-stars"><span class="full-color"><%= "★" * review.score %></span><span class="outline-color"><%= "☆" * (5 - review.score) %></span>
                  </div>
                  <p class="review-post-time"><%= review.created_at %></p>
                </div>
              <%end%>
            <%end%>
          <% else %>
            <p>There are no reviews about you yet.</p>
          <%end%>
      </div>

      <div class="review-bottom-white-container">
        <h2>My reviews</h2>
          <%unless @reviews_i_posted_about_workspaces == [nil]%>
            <% @reviews_i_posted_about_workspaces.each do |wp_review|%>
              <%unless wp_review.nil? %>
                <div class="review-container text-center">
                <h4><%= wp_review.booking.find_workspace.title%></h4>
                <p><em> "<%= wp_review.content%>" </em></p>
                <div class="review-stars"><p><span class="full-color"><%= "★" * wp_review.score %></span><span class="outline-color"><%= "☆" * (5 - wp_review.score) %></span></p>
                </div>
                <p class="review-post-time"><%= wp_review.created_at %></p>
              </div>
              <% end %>
            <%end%>
          <%else%>
            <p> You haven't reviewed any workspaces yet.</p>
          <% end %>
      </div>




    <%else%>

      <h1><%= @profile.user.first_name.capitalize%> <%= @profile.user.last_name.capitalize%></h1>

      <h1>About</h1>
      <%if @profile.bio.nil? || @profile.bio == ""%>
        <p>This user hasn't written their bio yet.</p>
      <%elsif%>
        <p><%= @profile.bio%></p>
      <%end%>

      <h1>Reviews about users <%= @profile.user.first_name.capitalize%></h1>
      <%if @reviews_about_me.length.positive? %>
        <%@reviews_about_me.each do |review|%>
          <%#if !booking.user_review.nil?%>
            <p>
            <%= review.booking.find_workspace.user.first_name%> says:
            <%= review.content%>
            Score: <%= review.score %>
            </p>
          <%# end %>
        <%end%>
      <%else %>
        <p>No reviews yet.</p>
      <%end%>


      <h1><%=@profile.user.first_name.capitalize%>'s workspaces</h1>
      <%if @my_workspaces.length.positive?%>
        <% @my_workspaces.each do |wp|%>
          <p><%= wp.title%></p>
          <p>Average score:
            <%if wp.average >0 %>
              <%= wp.average %>
            <%else%>
              Unknown
            <%end%>
          </p>
        <%end%>
      <%else%>
        <p><%= @profile.user.first_name.capitalize%> doesn't have any workspaces.</p>
      <%end%>


    <%end%>
  </div>
</div>
