<div class="container">
  <div class="yellow-container">
    <div class="text-center">
      <%if @profile.user == current_user %>
      <h1>My profile</h1>
    </div>
    <div class="text-center">
      <%= cl_image_tag @profile&.photo&.url, class: 'avatar-large'  %>
    </div>
    <div class="text-center">
      <h1>Bio</h1>
      <%if @profile.bio.nil? || @profile.bio == ""%>
        <p>Add a bio</p>
        <%= link_to "Edit", edit_profile_path(@profile),
          class: "btn btn-info btn-sm" %>
      <%elsif%>
        <p><%= @profile.bio%></p>
        <%= link_to "Edit", edit_profile_path(@profile),
          class: "btn btn-info btn-sm" %>
      <%end%>
    </div>

      <h1>My workspace reviews</h1>
      <%if @reviews_i_posted_about_workspaces.length.positive?%>
        <% @reviews_i_posted_about_workspaces.each do |wp_review|%>
          <p>-----------------------------</p>
          <p>Workspace name: <%= wp_review.booking.find_workspace.title%></p>
          <p><%= wp_review.content%></p>
          <p>Score: <%= wp_review.score %></p>
          <p>Date: </p>
        <% end %>
      <%else%>
        <p> You haven't reviewed any workspaces yet.</p>
      <% end %>

      <h1>My user reviews</h1>
      <%if @reviews_i_posted_about_users.length.positive? %>
        <% @reviews_i_posted_about_users.each do |u_review|%>
          <p>-----------------------------</p>
          <p>User name: <%= u_review.booking.user.first_name%> <%= u_review.booking.user.last_name%></p>
          <p><%= u_review.content%></p>
          <p>Score: <%= u_review.score %></p>
          <p>Date: </p>
        <% end %>
      <%else%>
        <p>You haven't reviewed any users yet.</p>
      <%end%>


      <h1>My workspaces</h1>
      <%if @my_workspaces.length.positive?%>
        <% @my_workspaces.each do |wp|%>
          <p><%= wp.title%></p>
          <p>Average score:
          <%if wp.average == 0%>
            unknown
          <%else%>
            <%= wp.average %>
          <%end%>
          </p>
        <%= link_to "Edit",root_url, class: "btn btn-info"%>

        <%end%>
        <p>----------------------------------</p>
        <%= link_to "Add a workspace",new_workspace_url, class: "btn btn-info"%>
      <% else %>
        <p>You haven't added a workspace yet.</p>
        <%= link_to "Do it now",root_url, class: "btn btn-info"%>
      <% end %>

      <h1>Pending bookings</h1>
      <%if @profile.user.pending_bookings?%>
        <%@bookings.each do |booking|%>
          <%if booking.status =="waiting_for_payment"%>
            <p>-----------------------------------------</p>
            <p><%= booking.find_workspace.title%></p>
            <p>Beginning: <%= booking.beginning_date%></p>
            <p>End: <%= booking.end_date%></p>
            <% booking.places.each do |place|%>
              <p><%= place.name%>: <%=place.price%> €</p>
            <%end%>
          <%= link_to "Pay now",root_url, class: "btn btn-info"%>
          <%end%>
        <%end%>
      <%else%>
        <p>No pending bookings.</p>
      <%end%>

      <h1>Future bookings</h1>
      <%if @profile.user.future_bookings?%>
        <%@bookings.each do |booking|%>
          <%if booking.status =="paid"%>
            <p>-----------------------------------------</p>
            <p><%= booking.find_workspace.title%></p>
            <p>Beginning: <%= booking.beginning_date%></p>
            <p>End: <%= booking.end_date%></p>
            <% booking.places.each do |place|%>
              <p><%= place.name%>: <%=place.price%> €</p>
            <%end%>
          <%end%>
        <%end%>
      <% else%>
        <p>You have no planned bookings.</p>
      <% end%>


      <h1>Past bookings </h1>
      <%if @profile.user.past_bookings?%>
        <%@bookings.each do |booking|%>
          <%if booking.status =="unreviewed" || booking.status == "past"%>
            <p>-----------------------------------------</p>
            <p><%= booking.find_workspace.title%></p>
            <p>Beginning: <%= booking.beginning_date%></p>
            <p>End: <%= booking.end_date%></p>
            <% booking.places.each do |place|%>
              <p><%= place.name%>: <%=place.price%> €</p>
            <%end%>
          <%end%>
          <% if booking.status == "unreviewed"%>
            <%= link_to "Add review", new_workspace_workspace_review_path(booking.find_workspace), class: "btn btn-info"%>
          <%end%>
        <%end%>
      <% else%>
        <p>You have no past bookings!</p>
      <% end%>


      <h1>Reviews about me</h1>
      <%if @reviews_about_me.length.positive?%>
        <%@reviews_about_me.each do |review|%>
          <%#if !booking.user_review.nil? %>
            <p>
              <%#= booking.find_workspace.user.first_name%>
              <%= review.booking.find_workspace.user.first_name%> says:
              <%= review.content%>
              Score: <%= review.score%>
            </p>
          <%#end%>
        <%end%>
      <% else %>
        <p>Nobody has written any reviews about you</p>
      <%end%>


    <%else%>

      <h1><%= @profile.user.first_name.capitalize%> <%= @profile.user.last_name.capitalize%></h1>

      <h1>About</h1>
      <%if @profile.bio.nil? || @profile.bio == ""%>
        <p>This user hasn't written their bio yet.</p>
      <%elsif%>
        <p><%= @profile.bio%></p>
      <%end%>

      <h1>Reviews about <%= @profile.user.first_name.capitalize%></h1>
      <%if @reviews_about_me.length.positive? %>
        <%@reviews_about_me.each do |review|%>
          <%#if !booking.user_review.nil?%>
            <p>
            <%= review.booking.find_workspace.user.first_name%> says:
            <%= review.content%>
            Score: <%= review.score %>
            </p>
          <%# end %>
        <%end%>
      <%else %>
        <p>No reviews yet.</p>
      <%end%>


      <h1><%=@profile.user.first_name.capitalize%>'s workspaces</h1>
      <%if @my_workspaces.length.positive?%>
        <% @my_workspaces.each do |wp|%>
          <p><%= wp.title%></p>
          <p>Average score:
            <%if wp.average >0 %>
              <%= wp.average %>
            <%else%>
              Unknown
            <%end%>
          </p>
        <%end%>
      <%else%>
        <p><%= @profile.user.first_name.capitalize%> doesn't have any workspaces.</p>
      <%end%>


    <%end%>

  </div>
</div>
