<%= simple_form_for(@workspace) do |t| %>
    <%= t.input :title%>
    <%= t.input :description%>
    <%= t.input :address%>
    <%= t.input :website%>
    <%= t.input :phone_number, label: 'Phone number'%>
    <% if @workspace.places.length == 0 %>
      <p> Your workspace has no place</p>
    <% else %>
      <% @workspace.places.each do |place|%>
        <p><%= place.name%> </p>
      <%end %>
    <%end%>

    <div id='places'>
      <%= t.simple_fields_for :places do |place|%>
        <%= render 'shared/place_fields', :f => place %>
      <%end%>
      <div class='links'>
        <%= link_to_add_association 'add place', t, :places,     partial: 'shared/place_fields'%>
      </div>
      <%= t.submit "Add", class: "btn btn-info" %>
  <% end %>
