<div class="text-center" style="margin-top: 100px;"><h1>Where will you work next?</h1></div>

<div class="main-map-container">
  <div class="cards-container">
    <div class="workspace-cards">
        <% @workspaces.each do |workspace|%>
         <div class="workspace-card">
            <%= link_to workspace_path(workspace)  do %>
            <div class="workspace-card-content">
              <div class="workspace-card-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(' <%= cl_image_path workspace.photos.first.photo.url if workspace.photos.first.present? %> ' ); ">

              </div>
              <div class="workspace-card-title">
                <div class="workspace-card-title-position">
                  <%= workspace.title %>
                  <p> Workspaces starting at <%=workspace.minimum%> €/day</p>
                </div>
                <div class="workspace-card-rating">
                  <p><%= "★" * workspace.average %><%= "☆" * (5 - workspace.average ) %> </p>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>




<!-- BACK-END (ONLY) OF GEOMAP CODE -->

  <div id='map' data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<!-- END -->




<script>
  const mapElement = document.getElementById('map');
  mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v9',
  trackResize: true,
  scrollZoom: true
  });

      const markers = JSON.parse(mapElement.dataset.markers);
        markers.forEach((marker) => {
          const popup = new mapboxgl.Popup().setHTML(marker.infoWindow);

          new mapboxgl.Marker()
          .setLngLat([ marker.lng, marker.lat ])
          .setPopup(popup)
          .addTo(map);
          });

        if(markers.length === 0) {
          map.setZoom(1);
          } else if (markers.length === 1) {
          map.setZoom(14);
          map.setCenter([markers[0].lng, markers[0].lat]);
          } else {
          const bounds = new mapboxgl.LngLatBounds();
          markers.forEach((marker) => {
          bounds.extend([marker.lng, marker.lat]);
          });
          map.fitBounds(bounds, {duration: 0, padding:75})
          }

</script>
