<div class="container">
  <div class="workspace-yellow-container">
        <%  if @workspace.main_photo.present? %>
          <div class="workspace-header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @workspace.main_photo %>');">
        <% else %>
          <div class="workspace-header" style="background-image: url('<%= image_url 'placeholder.jpg' %>');">

            <% end %>
        <div class="workspace-title"><h1><%= @workspace.title %></h1></div>
        <div class="workspace-stars">
          <p><% @workspace.average.times do %><span class="full-color">★</span><% end %><span class="outline-color"><%= "☆" * (5 - @workspace.average ) %></span></p>
        </div>
      </div>

    <div class="workspace-white-container">
      <h2>About</h2>
      <div class="show-container">
        <p><%= @workspace.description %></p>
        <p><span style="font-weight: normal;">Address:</span> <%= @workspace.address  %></p>
        <div style="padding:10px;"><p><span style="font-weight: normal;">Phone number:</span> <%= @workspace.phone_number %></p></div>
        <div><p><%= link_to 'Visit website', @workspace.website %></p></div>
      </div>
    </div>

    <div class="workspace-white-container">
      <h2>Book a spot</h2>
      <script>
        let bookedarray = [];
        let disablearray = [];
      </script>


      <% @workspace.places.each_with_index do |place, place_index|%>
      <div class="show-container">
      <% chairs_left = place.number_of_chairs - place.bookings.length%>

      <h4><%= place.name.capitalize %></h4>
      <p><%= place.description %> </p>
      <p> <%= place.price %> €/day</p>
      <p><%= chairs_left %> out of <%= place.number_of_chairs %> places left</p>

    <% if user_signed_in?%>

    <!-- HM Code -->
    <div class="show-cal btn btn-info btn-xs" style="margin-left: 20px; margin-bottom: 10px;">Book now</div>
    <div class="show-book-btn" style="display:none;">

      <%= simple_form_for([place,Booking.new]) do |t| %>
      <%= t.input :beginning_date, as: :string, input_html: { class: "datepicker#{place_index}" } %>
      <%= t.input :end_date, as: :string, input_html: { class: "datepicker#{place_index}" } %>
      <%= t.submit "Book now", class: "btn btn-info" %>
      <% end %>

      <!-- HM Code next - begin -->

      <% bookingplace = place.booking_dates %>
      <% allplaces = bookingplace if bookingplace.exists? %>

      <% if allplaces  %>
        <% allplaces.each_with_index do |placedate, index| %>
         <% if placedate.chairs_taken == place.number_of_chairs %>
       <p>Fully booked on that day</p>
      <script>
        <% array = placedate.day.to_s.split("-") %>
        <% array[0] = array[0].to_i %>
        <% array[1] = array[1].to_i %>
        <% array[2] = array[2].to_i %>
        <% string = array.join("-") %>
        bookedarray.push(Date.parse('<%= string %>'));
        disablearray.push('<%= placedate.day.to_s %>');
        <%# raise %>
      </script>
         <p>There are <%= placedate.chairs_taken - place.number_of_chairs %> left for the <%= placedate.day %></p>
        <% end %>
       <% end %>
      <% end %>

      <script>
        flatpickr('.datepicker<%= place_index %>', {
          disable: disablearray,
          altInput: true,
          altFormat: "j F, Y",
          dateFormat: "d-m-Y",
          minDate: "today",
          maxDate: new Date().fp_incr(93),
          onDayCreate: function(dObj, dStr, fp, dayElem) {
                       // Checking to see if the current day object is in our array
                       // The `+` is just a shortcut for parsing the date
                       if (bookedarray.indexOf(+dayElem.dateObj) !== -1) {
                        dayElem.className += " booked-day";
                      }
                    },

                weekNumbers: true // 1 year from now
              });
            </script>


        </div> <!-- show-book-btn div -->
          <%end%>
          </div>
          <%end%>




    </div>


    <div class="workspace-bottom-container">
       <h2>Reviews</h2>
          <%if @workspace.workspace_reviews.length >0 %>
          <% @workspace.workspace_reviews.each do |review| %>
        <div class="show-container">
          <div class="text-center">
            <p><%= review.booking.user.first_name%> says <em>"<%= review.content%>"</em></p>
            <div class="review-stars"><p><span class="full-color"><%= "★" * review.score %></span><span class="outline-color"><%= "☆" * (5 - review.score) %></span></p>
            </div>
          <p class="review-post-time"><%= review.created_at %></p>
          </div>
          </div>
          <%end%>
          <% else%>
          <div class="text-center">
            <p>No current reviews.</p>
          </div>
          <%end%>
          <%if user_signed_in?%>
          <%if current_user.unreviewed_booking?(@workspace)%>
          <div class="text-center">
            <p>Share your experience at <%= @workspace.title  %></p>
              <%= link_to "Add review",new_workspace_workspace_review_path(@workspace), class: "btn btn-info"%>
          </div>

        <%end%>
      <%end%>
    </div>
  </div>
</div>
