<div class="container">
  <h1><%= @workspace.title %></h1>
  <%if @workspace.average == 0%>
    <p>Unknown average score</p>
  <% else%>
    <p>Average score: <%= @workspace.average %></p>
  <%end%>
  <br/>

  <% @workspace.places.each do |place|%>
    <% chairs_left = place.number_of_chairs - place.bookings.length%>

    <%if chairs_left > 0%>
      <p>-----------------------------------------</p>
      <p>Name: <%= place.name.capitalize %></p>
      <p>Description: <%= place.description %> </p>
      <p> <%= place.price %> €/day</p>
      <p><%= chairs_left %>out of <%= place.number_of_chairs %> places left</p>
      <% if user_signed_in?%>


      <%#= link_to "Book this place !", workspace_workspace_reviews_path(@workspace), class: "btn btn-info" %>

      <!-- HM Code -->
      <div class="show-cal">Show calendar</div>
      <div class="show-book-btn" style="display:none;">

        <%= simple_form_for([place,Booking.new]) do |t| %>
          <%= t.input :beginning_date, as: :string, input_html: { class: "datepicker" } %>
          <%= t.input :end_date, as: :string, input_html: { class: "datepicker" } %>
          <%= t.submit "Book this place !", class: "btn btn-info" %>
        <% end %>
        <%#= link_to "Book this place !", workspace_workspace_reviews_path(@workspace), class: "btn btn-info" %>

      </div>
      <!-- HM Code -->

    <%end%>
  <%end%>
  <%end%>
  <h3>What other people say of this workspace</h3>
  <%if @workspace.workspace_reviews.length >0 %>
    <% @workspace.workspace_reviews.each do |review| %>
      <p><%= review.booking.user.first_name%> says:</p>
      <p><%= review.content%></p>
      <p>Score: <%= review.score %></p>
    <%end%>
  <% else%>
    <p>This place has no reviews yet!</p>
  <%end%>
  <%if user_signed_in?%>
    <%if current_user.unreviewed_booking?(@workspace)%>
      <div>
        <p>------------------------------------</p>
        <p>You have been to this place and didn't reviewed it yet! Do it now!
          <%= link_to "Add review",new_workspace_workspace_review_path(@workspace), class: "btn btn-info"%>
        </div>
      <%end%>
    <%end%>
  </div>


 <!-- HM Code -->
      <script>
        flatpickr('.datepicker', {
        altInput: true,
        altFormat: "j F, Y",
        dateFormat: "d-m-Y",
        minDate: "today",
        maxDate: new Date().fp_incr(365),
        weekNumbers: true // 1 year from now
        });
      </script>
 <!-- HM Code -->
