<div class="container">
  <h1>Worspace <%= @workspace.id %></h1>
  <% @workspace.workspace_reviews.each_with_index do |w_review, index|%>
    <p>Review n°<%= index + 1 %>: <%= w_review.content%> </p>
  <%end%>
  <br/>
  <br/>
  <% @workspace.places.each_with_index do |place, index|%>
    <% chairs_left = place.number_of_chairs - place.bookings.length%>
    <%if chairs_left > 0%>
      <p>-----------------------------------------</p>
      <p>Place n°<%= index + 1 %>: <%= place.price%> €/day | <%= chairs_left %>out of <%= place.number_of_chairs %> places left</p>
        <%= link_to "Book this place !", workspace_workspace_reviews_path(@workspace),
          class: "btn btn-info" %>
    <%end%>
  <%end%>
  <%#= link_to "Go to first workspace's reviews", workspace_workspace_reviews_path(@workspace),
          class: "btn btn-info" %>
  <%= link_to "Add review",new_workspace_workspace_review_path(@workspace), class: "btn btn-info"%>
</div>
