

<div class="navbar-wagon navbar-fixed-top">
  <div>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag("logo_ylw.svg", alt: "WeWorkTogether Logo", class: "navbar-logo-img")%>
    <% end %>
          <!-- SEARCH-BAR (INPUT + BUTTON) - BEGIN -->
    <div class="search-bar-in-nav-bar">
      <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.1"></script>
      <%= form_tag workspaces_path, id: 'algolia_form', method: :get do %>
        <div class="search-bar-container">
          <div class="search-bar">
            <%= text_field_tag :query, params[:query], class: "form-control js-searchbar homepage-search", placeholder: "Enter a city", autocomplete:"off" %>
          </div>
        </div>
      <% end %>
              <!-- <input type="submit" value="Search" form="algolia_form" class="wwt-btn-common">
              <input type="submit" value="Search" form="algolia_form" class="wwt-btn-common-cellphone" style="display: none;">
 -->
    </div>

          <script>
            var placesAutocomplete = places({
              appId: 'plPXFELQHKO7',
              apiKey: 'f7133196424bc5de90408baab2aff571',
              container: document.querySelector('.js-searchbar'),
              language: 'en'
            });
          </script>
  </div>
        <!-- SEARCH-BAR (INPUT + BUTTON) - END -->




  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%#= link_to "About", root_path, class: "navbar-wagon-home-item navbar-wagon-home-link"%>
    <% if user_signed_in? %>
    <%= link_to "Dashboard", dashboard_path(current_user), class: "navbar-wagon-home-item navbar-wagon-home-link"%>
      <!-- Links when logged in -->
      <%#= link_to "Add something?", xxx_url, class: "navbar-wagon-item navbar-wagon-link"%>
      <%#= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag current_user&.profile&.photo&.url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_url(current_user.profile) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_url do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Sign up", root_path, class: "navbar-wagon-home-item navbar-wagon-home-link"%>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link inner-login-link" %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars small-fa-bars" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%if user_signed_in?%>
            <%= link_to profile_url(current_user.profile) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to dashboard_path(current_user) do %>
            <i class="fas fa-columns"></i><%= t(".dashboard", default: "Dashboard")  %>
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_url do %>
              <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        <% else%>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%end%>
      </ul>
    </div>
  </div>
</div>
