  <div class="nested-fields">
    <%= f.input :name, error: 'Mandatory'%>
    <%= f.input :description, error: 'Mandatory'%>
    <%= f.input :number_of_chairs, label: "Number of available spots" %>
    <%= f.input :price %>
    <div><%= link_to_remove_association "Remove", f %></div>
</div>
