<div class='container'>
  <div class="yellow-container">
    <div class="white-container">
      <h2> Complete your booking</h2>
      <div class="border-box text-center">
        <h3>Booking overview</h3>
        <h5><%=@booking.find_workspace.title %></h5>
        <p>Dates: <%= @booking.beginning_date %> to <%= @booking.end_date%> </p>
        <p>Owner: <%= @booking.find_workspace.user.first_name %> <%= @booking.find_workspace.user.last_name %></p>

        <%= form_tag booking_payments_path(@booking) do %>
    <article>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(@booking.price) %></span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My booking"
      data-email="<%= current_user.email %>"
      data-description="Workspace:  <%=@booking.find_workspace.title %>"
      data-amount="<%= @booking.price_cents %>"
      data-currency="<%= @payment.amount.currency %>"></script>
  <% end %>
      </div>
    </div>
  </div>
</div>