<div class="container" style="margin-top:100px;">

  <div class="yellow-container">
    <div id="dashboard-tabs"><%= render 'shared/tabs' %></div>
    <div id="tab-bookings">
      <div class="dashboard-white-container">
        <h2>Upcoming</h2>
        <%if !current_user.upcoming_bookings.empty?%>
        <%@current_user.upcoming_bookings.each do |booking|%>
        <div class="border-box">
          <h4><%= booking.find_workspace.title%></h4>
          <% booking.places.each do |place|%>
          <p><%= place.name.capitalize%>: <%=place.price%>€ per day</p>
          <%end%>
          <p><strong>Start:</strong> <%= booking.beginning_date%> <strong>End:</strong> <%= booking.end_date%></p>
          <div class="dashboard-booking-status" id="unpaid">
            <p><%= "Unpaid" if booking.status == "waiting_for_payment"  %></p>
          </div>
            <%= link_to "Pay now",root_url, class: "btn btn-danger btn-xs payment-button" if booking.status == "waiting_for_payment"%>
          <div class="dashboard-booking-status" id="paid">
            <p><%= "Paid" if booking.status == "paid" %></p>
          </div>
        </div>

        <%end%>

        <%else%>
        <div class="border-box">
          <p>No upcoming bookings</p>
        </div>
        <%end%>
      </div>

      <div class="bottom-dashboard-white-container">
        <h2>Past</h2>
        <%if current_user.past_bookings? %>
        <%@bookings.each do |booking|%>
        <%if booking.status =="unreviewed" || booking.status == "past"%>

        <div class="border-box">
          <h4><%= booking.find_workspace.title%></h4>
          <% booking.places.each do |place|%>
          <p><%= place.name.capitalize%>: <%=place.price%> € per day</p>
          <%end%>
          <p><strong>Start:</strong> <%= booking.beginning_date%> <strong>End:</strong> <%= booking.end_date%></p>
          <% if booking.status == "unreviewed"%>
          <%= link_to "Add review", new_workspace_workspace_review_path(booking.find_workspace), class: "btn btn-success btn-xs"%>
          <%end%>

        </div>
        <%end%>

        <%end%>
        <% else%>
        <div class="border-box">
          <p>No past bookings</p>
        </div>
        <% end%>
      </div>

    </div>


    <div id="tab-workspaces" style="display:none;">
      <div class="dashboard-white-container">
        <h2>Your workspaces</h2>
        <div class="border-box">
          <%if @my_workspaces.length.positive?%>
          <% @my_workspaces.each do |wp|%>
            <h4><%= wp.title%></h4>
            <span style="font-weight: lighter;"><p><%= wp.description  %></p></span>
            <%if wp.average == 0%>
              <p>No current reviews</p>
            <%else%>
              <div class="workspace-stars">
                <p><% wp.average.times do %><span class="full-color">★</span><% end %><span class="outline-color"><%= "☆" * (5 - wp.average ) %></span></p>
              </div>
        <div class=workspace-edit> <%= link_to "Edit", edit_workspace_path %></div>
        </div>
          <%end%>
      </div>
      <div class="bottom-dashboard-white-container">
        <h2>Reviews</h2>
          <%wp.workspace_reviews.each do |wp_review|%>
        <div class="border-box text-center">
            <p><%= wp_review.booking.user.first_name %> says <em>"<%= wp_review.content%>"</em> </p>
            <div class="review-stars"><p><span class="full-color"><%= "★" * wp_review.score %></span><span class="outline-color"><%= "☆" * (5 - wp_review.score) %></span></p>
            </div>
            <p class="review-post-time"><%= wp_review.created_at %></p>
        </div>
        <%end%>
        <%end%>
        <div class="text-center">
          <%= link_to "Add a workspace",new_workspace_url, class: "btn btn-info"%>
          <% else %>
          <p>You have not yet added a workspace</p>
          <%= link_to "Do it now",root_url, class: "btn btn-info"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
